<tr class="table-row">
    <td class="table-cell">
      <%= @column.name %>
    </td>
    <td class="table-cell">
      <%= @column.description %>
    </td>
    <td class="table-cell">
      <%= @column.data_type %>
    </td>
    <td class="table-cell">
      <%= @column.required %>
    </td>
</tr>
