<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="table">
        <thead class="table-header">
            <%= render(EventTableHeaderRowComponent.new) %>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <%= render(EventTableRowComponent.new(event: event)) %>
          <% end %>
        </tbody>
    </table>
</div>
