<tr>
    <th scope="col" class="table-header-cell">
        Event ID
    </th>
    <th scope="col" class="table-header-cell">
        Type 
    </th>
    <th scope="col" class="table-header-cell">
        Timestamp 
    </th>
    <th scope="col" class="table-header-cell">
        <span class="sr-only">Show</span>
    </th>
</tr>
