<table class="border-collapse text-center bg-zinc-800 mx-auto rounded-md table-fixed w-full">
  <thead>
    <tr>
      <th class="p-5">ID</th>
      <th class="p-5">Hash</th>
      <th class="p-5">State</th>
      <th class="p-5">Data</th>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |row| %>
      <%= render(RowTableRowComponent.new(row: row)) %>
    <% end %>
  </tbody>
</table>
