<tr>
    <th scope="col" class="table-header-cell">
        Row Number
    </th>
    <th scope="col" class="table-header-cell">
        Hash
    </th>
    <th scope="col" class="table-header-cell">
        State
    </th>
    <th scope="col" class="table-header-cell">
        Data
    </th>
    <th scope="col" class="table-header-cell">
        Uploaded At
    </th>
    <% if @show_actions %>
      <th scope="col" class="table-header-cell">
          <span class="sr-only">Edit</span>
      </th>
    <% end %>
</tr>
