<div class="flex flex-col container space-y-4">
  <h1 class="detail-page-h1">
    File <mark class="detail-page-mark"><%= @file.filename %></mark>
  </h1>

  <h2 class="detail-page-h2">Details</h2>
  <%= render(FileTableComponent.new(files: Array.wrap(@file), show_actions: false)) %>

  <h2 class="detail-page-h2">Events</h2>
  <p class="detail-section-description">
  The series of events that led to the current state of the file.
  </p>
  <%= render(EventTableComponent.new(events: @events)) %>

  <h2 class="detail-page-h2">Rows</h2>
  <p class="detail-section-description">
  The rows that comprise this file.
  </p>
  <%= render(RowTableComponent.new(rows: @file.rows, total_rows: @file.rows.count, page_size: 5)) %>
</div>
