<div class="flex flex-col container space-y-4">
  <h1 class="detail-page-h1">
    Row <mark class="detail-page-mark"><%= @row.row_number%></mark>
  </h1>

  <h2 class="detail-page-h2">Details</h2>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <%= render(RowTableComponent.new(rows: Array.wrap(@row), show_actions: false)) %>
  </div>

  <h2 class="detail-page-h2">Duplicates</h2>
  <p class="detail-section-description">
  Other rows that are exact duplicates of this one.
  </p>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <%= render(RowTableComponent.new(rows: @duplicate_rows)) %>
  </div>

  <h2 class="detail-page-h2">Events</h2>
  <p class="detail-section-description">
  The series of events that led to the current state of the row.
  </p>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <%= render(EventTableComponent.new(events: @events)) %>
  </div>

  <h2 class="detail-page-h2">Linked</h2>
  <p class="detail-section-description">
  The rows from other formats that have been linked to this row.
  </p>

  <h2 class="detail-page-h2">Errors</h2>
  <p class="detail-section-description">
  The various errors that occurred for this row.
  </p>
</div>
